/*Variables para colores*/
:root {
  --colorprimary: pink;
  --colorgradient: rgb(255, 153, 175);
  --colorgradient2: hsl(66, 15%, 87%);
  --colortext1: lightblue;
  --colorlink: blue;
  --colorvisited: aqua;
  --colorhover: rgb(26, 125, 150);
  --width: 300px;
  --padding: 10px;
  --bgcolor: rgb(52, 52, 52);
  --hovercolor: rgb(23, 23, 23);
  --width-collapsed: 50px;
}
/*\Variables para colores*/

/*Header*/
header {
  top: 0px;
  text-align: center;
  position: sticky;
  background-color: rgba(127, 193, 250, 0.151);
}
p {
  background: #fff;
  opacity: 80%;
  width: 90%;
}
.d-flex {
  justify-content: flex-end;
  margin-top: 5px;
}
.container-fluid {
  background-color: rgba(127, 193, 250, 0.041);
  font-weight: bold;
  width: 100%;
  font-size: 150%;
}
#compras {
  justify-content: right;
}
.nav-item:hover {
  text-decoration: underline;
}

.vertical-div {
  vertical-align: middle;
  text-align: center;
}

img.logo {
  width: 200%;
  height: 200%;
  object-fit: cover;
  text-align: left;
  margin-top: -15%;
}
.logo {
  float: left;
  max-width: 100%;
  margin-right: 10px; /* Puedes ajustar este valor según sea necesario */
}

/*Header*/
/*Footer: fijar el footer al final de página */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--colorprimary);
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

footer,
header {
  background-color: var(--colorprimary);
  font-weight: bold;
  box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.5);
}

/*Footer*/
.carousel-inner {
  transition: opacity 0.1s;
}

.form-control {
  width: 20%;
  justify-content: right;
  margin-top: 5px;
}
.form-control.me-2 {
  width: 100px;
}

.form-check {
  margin-left: 1%;
  width: 50%;
}

.div-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.item {
  text-align: center;
  margin-bottom: 2px;
}
.item img {
  transition: transform 0.3s;
  flex: 1;
  margin-right: 10px;
  width: calc(100% / 3 - 10px);
  height: auto;
  box-sizing: border-box;
  padding: 5px;
}
.item:hover img {
  transform: scale(1.1);
}
.precio {
  font-size: 18px;
  margin-top: 10px;
}
.precio {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#precio {
  font-size: 18px;
  margin-top: 10px;
}
.boton-comprar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
.img-fluid {
  margin: 1em;
  width: 100%;
}
.banner {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.banner h1 {
  font-size: 24px;
  color: #333;
}
.dropdown-menu {
  padding: 10px;
  font-size: 14px;
  
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item span {
  font-weight: normal;
}

.dropdown-divider {
  margin: 10px 0;
}
#cantidadProductos {
  font-size: 10px;
  font-weight: normal;
}
@media (max-width: 990px) {
  .div-img {
    margin: 1em 1em 1em 1em;
    display: flex;
    justify-content: stretch;
    width: 80%;
    height: 80%;
  }

  .logo {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .div-img {
    width: 20%;
    height: 20%;
  }
}

@media (max-width: 240px) {
  .div-img {
    width: 12%;
    height: 12%;
    margin: 0;
  }

  .logo {
    width: 100%;
    margin-left: 10%;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: space-between;
  }

  .navbar-brand {
    padding: 5px 15px;
  }

  .navbar-brand img {
    max-height: 100%;
    max-width: 100%;
  }
}
.titulo-form {
  font-size: 300%;
  font-weight: bold;
  padding: 1%;
  margin-bottom: 2%;
  color: rgb(134, 54, 68);
}

.row {
  width: 80%;
  margin-left: 0.5%;
}
.form-control {
  width: 40%;
  justify-content: space-between;
}
body {
  line-height: none;
  font: bold;
  background-color: rgba(127, 193, 250, 0.151);
  padding: 0;
  margin: 0;
  margin-left: var(--width-collapsed);
}
/*Navegador*/
.navegador {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: colums;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 1.2em; /*La altura dependerá de lo que requieras*/
  padding: 0.13em 0.13em 0.13em;
  background: linear-gradient(
    135deg,
    var(--colorgradient),
    var(--colorgradient2)
  );
  background-size: 400%; /*Asignamos un ancho para el background del 300% y altura 100%*/
  animation: cambiar 1s; /*'gradient' es el nombre de la animación que crearemos, tarda en completarse 15s y vuelve a empezar infinitamente*/
  text-decoration: none;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.3;
  color: var(--colortext1);
}
.navegador :link {
  color: var(--colorlink);
}
.navegador :visited {
  color: var(--colorvisited);
}
.navegador :hover {
  height: 1.5em; /*La altura dependerá de lo que requieras*/
  background-size: 400%; /*Asignamos un ancho para el background del 300% y altura 100%*/
  animation: cambiar 1.5s; /*'gradient' es el nombre de la animación que crearemos, tarda en completarse 15s y vuelve a empezar infinitamente*/

  border-radius: 1em;
  position: relative;
  font: bold;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--colorhover);
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/*\Navegador*/

/*Slider*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 1.5em;
  width: 40%;
}
.carousel {
  height: 20%;
  align-items: stretch;
  z-index: -1;
}
/*Slider*/
